button {
  width: 7%;
  background: url("./SendButton.png");
  background-size: 35%;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 0.2s ease-in-out;
}

button:hover {
  background-color: gray;
}
